<tr class="{{#if (eq (mod (inc @index) 2) 1)}}bg-white hover:bg-purple-700 hover:text-white{{else}}bg-indigo-300  hover:bg-purple-700 hover:text-white{{/if}}">
  <td class="px-6 py-3">{{this.music.title}}</td>
  <td class="px-6 py-3">{{this.music.artist.name}}</td>
  <td class="px-6 py-3 hidden lg:flex">{{this.music.album}}</td>
  <td class="text-center px-6 py-3">{{roundAvg this.averageRating}}</td>
</tr>