<h2>Register</h2>

<form class="form register-form">
    <div class="form-group">
        <label for="first-name">First name:</label>
        <input class="form-input" type="text" id="first-name" value="{{first-name}}"/>
    </div>
    <div class="form-group">
        <label for="last-name">Last name:</label>
        <input class="form-input" type="text" id="last-name" value="{{last-name}}"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-input" type="email" id="email-register" value="{{email-register}}"/>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-input" type="input" id="username-register" value="{{username-register}}"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-input" type="password" id="password-register" value="{{password-register}}"/>
    </div>
    <div class="form-group" type="password" id="confirm-password" value="{{confirm-password}}" />
    <div class="form-group">
        <div>Already a user? Login <a href="/login">Here</a></div>
    </div>
</form>

<script src="/js/register.js"></script>